<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multipart Upload</title>
</head>
<body>
<h1>Spring Boot file upload example</h1>
<form th:action="@{/multipartUpload}" method="post" enctype="multipart/form-data">
    <input type="file" name="files" /> <br /> <br />
    <input type="file" name="files" /> <br /> <br />
    <input type="file" name="files" /> <br /> <br />
    <input type="submit" value="Upload" />
</form>
</body>
</html>